
@media (max-width: $navbarCollapseWidth){
  #content h2 {
    padding: 0;
    margin: 0;
    position: absolute;
    font-size: 14px;
    top: 2px;
    text-align: center;
    width: 100%;
    left: 0;
    background: none;
  }
}