@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";
@import "compass/css3";

$piclGray: #747476;

* {
  //@include box-sizing(border-box);
  font-family: Helvetica, Arial, sans-serif;
}

.navbar {
  margin-bottom: 0px;
  .btn-refresh {
    margin: 0;
    color: #fff;
    border-radius: 0;
    text-shadow: none;
    background: $infoText;
  }
  .btn-menu {
    border-radius: 0;
    margin-right: 12px;
  }
}

.navbar .btn-navbar, .brand {
  position: relative;
  z-index: 1;
}

.navbar .brand {
  padding: 10px 5px 5px 15px;
  margin: 0;
}

#pager-connect {
  li {
    display: block;
  }
  display: block;
  margin: 7px 10px;
  clear: both;
  .previous {
    margin-top: 5px;
  }
}

#progress {
  width: 100%;
  bottom: -20px;
  left: 0;
  position: absolute;
  display: none;
}

#content {
  z-index: 1;
  overflow: hidden;
  margin: 2%;
  #{headings()} {
    color: $piclGray;
    padding: 1%;
  }
  .muted {
    text-align: left;
    display: block;
  }
  h2 {
    background: #f5f5f5;
    padding: 2% 1%;
  }

  h3 {
    padding: 0;
    margin: 0;
  }
  .search-query {
    @include border-radius(0);
    display: block;
    padding: 7px 2%;
    width: 95.5%;
    margin: 0 auto;
  }
  ul {
    margin: 0;
    list-style-type: none;
    li {
      padding: 0;
      li {
        padding: 1% 0;
        border-bottom: 1px solid $grayLighter;
      }
    }
  }
}

.grid-icon {
  .grid-block {
    float: left;
  }
  img {
    padding: 10px;
    border: 1px solid $grayLighter;
    width: 45px;
    height: 45px;
    margin: 10px;
  }
}

@import "main-navbar";