@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";
@import "compass/css3";

$piclGray: #747476;

* {
  //@include box-sizing(border-box);
  font-family: Helvetica, Arial, sans-serif;
}

.navbar {
  margin-bottom: 0px;
  .btn-refresh {
    margin: 0;
    color: #fff;
    border-radius: 0;
    text-shadow: none;
    background: $infoText;
  }
  .btn-menu {
    border-radius: 0;
    margin-right: 12px;
  }
}

.navbar .btn-navbar, .brand {
  position: relative;
  z-index: 1;
}

.navbar .brand {
  padding: 10px 5px 5px 15px;
  margin: 0;
}

#pager-connect {
  li {
    display: block;
  }
  display: block;
  margin: 7px 10px;
  clear: both;
  .previous {
    margin-top: 5px;
  }
}

#progress {
  width: 100%;
  bottom: -20px;
  left: 0;
  position: absolute;
  display: none;
}

#content {
  z-index: 1;
  overflow: hidden;
  margin: 2%;
  #{headings()} {
    color: $piclGray;
    padding: 1%;
  }
  .muted {
    text-align: left;
    display: block;
  }
  h2 {
    border-bottom: 2px solid #f5f5f5;
    padding: 2% 0 5px 0;
  }

  h3 {
    padding: 0;
    margin: 0;
  }
  .search-query {
    @include border-radius(0);
    display: block;
    padding: 7px 2%;
    width: 95.5%;
    margin: 0 auto;
  }
  ul {
    margin: 0;
    list-style-type: none;
    li {
      padding: 0;
    }
  }
}

.grid-icon {
  clear: both;
  .grid-block {
    float: left;
  }
  img {
    padding: 10px;
    border: 1px solid $grayLighter;
    width: 55px;
    height: 55px;
    margin: 10px;
  }
}

@media (max-width: $navbarCollapseWidth){
  #content h2 {
    padding: 0;
    margin: 0;
    position: absolute;
    font-size: 14px;
    top: 2px;
    text-align: center;
    width: 100%;
    left: 0;
    background: none;
    border: none;
  }
  .contentList {
    .title {
      display: inline-block;
      max-width: 275px;
    }
  }
}

.contentList {
  a {
    padding: 1% 0;
    border-bottom: 1px solid $grayLighter;
    display: block;
    min-height: 60px;
    &:hover {
      text-decoration: none;
      background: #fcfcff;
    }
  }
  li ul li {
    position: relative;
    overflow: hidden;
  }
  img {
    position: absolute;
    right: 0;
    height: 60px;
    top: 2px;
  }
}
