<div class="navbar">
  <div class="navbar-inner">
    <div class="container">

      <a class="brand"  href="/">PiCL</a>

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar btn-menu" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Everything you want hidden in nav-cllapse -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->

        <ul class="nav">
          <li ng-class="navClass('tabs')"><a href="/tabs">Tabs</a></li>
          <li ng-class="navClass('downloads')"><a href="/downloads">Downloads</a></li>
          <li ng-class="navClass('snippets')"><a href="/snippets">Snippets</a></li>
          <li ng-class="navClass('bookmarks')"><a href="/bookmarks">Bookmarks</a></li>
          <li ng-class="navClass('addons')"><a href="/addons">Addons</a></li>
        </ul>
      </div>

      <ul class="pager" id="pager-connect">
        <li class="previous" ng-switch on="loggedIn">
          <div class='pull-left' style='display: inline' ng-switch-when="true">
            <a href="#"><span class="label label-info">Connected to Dropbox</span></a>
            <div style='display: inline' class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="label label-info"> Options </span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><span class='btn btn-block' ng-click="addGlass()">Add Google Glass</span></li>
                <li><span class='btn btn-block'  ng-click="logout()">Log Out</span></li>
              </ul>
            </div>
          </div>
          <a href="#" ng-switch-when="false" ng-click="login()">Connect to Dropbox</a>
        </li>
        <li class="next">
          <a class="btn btn-refresh pull-right" ng-click="refresh()"><span class="label label-info">Refresh</span></a>
        </li>
      </ul>

    </div>
  </div>
</div>


<div id="progress" class="progress progress-striped active" style="">
  <div class="bar" style="width: 100%;"></div>
</div>
